<section class='profile-nav'>
  <div class='profile-nav-link' id='profile-overview'>
    <%= link_to 'Overview', user_profile_path %><br><br>
  </div>
  <div class='profile-nav-link' id='profile-activities'>
    <%= link_to 'Activities', '' %><br><br>
  </div>
  <div class='profile-nav-link' id='profile-billing'>
    <%= link_to 'Reservations', user_reservations_path %><br><br>
  </div>
  <div class='profile-nav-link' id='profile-profile'>
    <%= link_to 'Profile', user_profile_info_path %><br><br>
  </div>
</section>
