/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: url('background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body img {
  width: 100%;
  height: 100%;
}

.error-flash {
  padding: 10px;
  background-color: red;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;

}
.success-flash {
  padding: 10px;
  background-color: green;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;

}

.navbar {
  background-color: white;
  display: flex;
  margin: 15px;
  padding: 10px;
  font-weight: 700;
}

.navbar-left {
  width: 20%;
  text-align: center;
}

.navbar-right {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#company-title {
  font-family: 'Great Vibes', cursive;
  font-size: 35px;
  margin: 0px;
}

a.navbar-link:link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a.navbar-link:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a.navbar-link:hover {
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

a.navbar-link:active {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.empty {
  height: 350px;
}

#check_in_ {
  border: none;
  text-align: center;
}

#check_out_ {
  border: none;
  text-align: center;
}

#guests {
  border: none;
}

.search-box-dropdowns {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.sbdp-submit {
  margin-top: 20px;
  text-align: center;
}

.container-sub {
  background-color: #ffffff82;
  color: black;
  margin: 15px;
  padding: 5px;
}

.content {
  margin: 15px;
  display: flex;
}

.content-img img{
  width: 625px;
  height: 375px;
}

.content-text-box {
  background-color: #d2d5ce;
  padding: 30px;
  // z-index: 2;
}

.container-main-acc {
  text-align: -webkit-center;
}

.container-acc {
  width: 80%;
  background-color: #ffffff82;
  color: black;
  margin: 15px;
  padding: 25px;
}

.container-stats-top {
  background-color: #ffffff82;
  color: black;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.container-stats-bottom {
  background-color: #ffffff82;
  color: black;
  margin: 15px;
  padding: 15px;
  text-align: center;
}

.stat-row {
  display: flex;
}

.stat-col {
  padding: 15px;
  margin: 15px;
  background-color: #d2d5ce;
  flex-grow: 1;
}

.content-amenities {
  margin: 15px;
  display: flex;
}

.content-amenities img{
  width: 400px;
  height: 237px;
}

.content-amenities-text-box {
  background-color: #d2d5ce;
  padding: 30px;
}

.content-amen-split-bottom {
  text-align: right;
}

.content-amen-split-bottom a:link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.content-amen-split-bottom a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.content-amen-split-bottom a:hover {
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

.content-amen-split-bottom a:active {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.amen-sign-up {
  border: solid;
  padding: 5px;
}

.amen-title {
  text-align: center;
  background-color: #d2d5ce;
  padding: 15px;
  margin: 15px;
  width: 100%;
}

.amen-header {
  display: flex;
  justify-content: center;
}

.login-main-container {
  display: flex;
  justify-content: center;
}

.login-box {
  margin: 15px;
  margin-left: 90px;
  padding: 30px;
  display: inline-block;
  background-color: #ffffffd9;
  font-weight: bold;
}

.new-user-main {
  display: flex;
  justify-content: center;
}

.new-user-sub{
  background-color: #ffffffd9;
  padding: 30px;
}

.new-user-form {
  display: flex;
}

.login-cred {
  display: flex;
}

.username, .password, .first-name, .last-name {
  margin: 5px;
}

.names-email {
  display: flex;
}

.profile-container {
  background: #ffffff82;
  margin: 15px;
  padding: 15px;
}

.welcome-message {
  display: flex;
  justify-content: space-between;
  background: #d2d5ce;
  padding: 15px;
}

.welcome-message h1 {
  margin: 0px;
  align-self: center;
}

.logout-button {
  border: solid;
  background: none;
  padding: 5px;
  font-weight: 600;
  vertical-align: text-top;
}

.profile-main {
  display: flex;
  margin-top: 15px;
}

.profile-nav {
  background-color: #d2d5ce;
  margin-right: 15px;
  flex-grow: 0;
  padding: 25px;
}

.profile-content {
  flex-grow: 2;
  background: #d2d5ce;
  padding: 25px;
}

.profile-nav-link a:link {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.profile-nav-link a:visited {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.profile-nav-link a:hover {
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

.profile-nav-link a:active {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.pass-box {
  align-self: center;
  text-align: center;
}

.weather-stats {
  padding: 15px;
  background-color: #a6a9a4;
  text-align: center;
}

.ws-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.ws-data {
  background-color: #d2d5ce;
  margin: 5px;
}

.ws-credit {
  font-weight: 100;
  font-size: smaller;
  margin-top: 20px;
  letter-spacing: 3px;
}

.demo-login-info {
  display:flex;
  margin: 15px;
  margin-left: 90px;
  padding: 30px;
  display: inline-block;
  background-color: #ffffffd9;
  font-weight: bold;
}

.search-box-container {
  margin: 15px;
  padding: 15px;
  background-color: #ffffff82;
}

.search-box-booking {
  padding: 15px;
  background-color: #d2d5ce;
  text-align: center;
}

.sb-submit {
  place-self: center;
}

.submit-booking, .book-button {
  background: none;
  border: solid;
  padding: 5px;
  font-weight: 400;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.dp-selector {
  border: none;
}

.container-sub-booking {
  background-color: #ffffff82;
  color: black;
  margin: 15px;
  padding: 15px;
}

.room-image {
  width: 30%;
  height: auto;
}

.rooms-content {
  margin-left: 15px;
  margin-right: 15px;
}

.room-box {
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #d2d5ce;
}

.room-info {
  padding: 15px;
  width: 100%;
  height: auto;
  padding-bottom: 0px;
  position: relative;
}

.room-info-bottom {
  text-align: end;
  width: 98%;
  position: absolute;
  bottom: 0;
}

.booking-confirm {
  background-color: #d2d5ce;
  padding: 15px;
  text-align: center;
}

.reservation-box {
  padding: 15px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  background-color: #b7b7b7;
  align-items: center;
}

.view-button {
  border: solid;
  background: none;
  padding: 5px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
